* {
    margin: 0;
    padding: 0;
    
}

html, body {
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}

header {
    background-color: red;
    height: 10vh;
    position: fixed;
    width: 100vw;
}

nav ul {
    align-items: center;
    display: flex;
    height: 10vh;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

nav svg {
    aspect-ratio: 1;
    width: 50px;
}

nav li:hover, .character:hover {
    cursor: pointer;
}

main {
    padding-top: 10vh;
}

.show {
    display: block;
}

.user-container, .settings-container {
    border-bottom: 20px solid red;
    border-inline: 20px solid red;
    box-sizing: border-box;
    height: 90vh;
}

.user-characters {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.character {
    text-align: center;
    margin-block: 10px;
    width: 40%;
}

.character img {
    border-radius: 50%;
    width: 100%;
}

.cyberware-card-outer-container {
    text-align: center;
}

.card-container {
    background-color: red;
    border: 1px solid black;
    border-radius: 25px;
    box-sizing: border-box;
    max-height: 80vh;
    margin: 10px;
    padding-bottom: 20px;
}

.container-header {
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-left: 20px;
    text-align: left;
}

.container-header p {
    padding-left: 30px;
}

.arrow-container {
    padding-right: 3px;
}

.arrow {
    aspect-ratio: 1;
    margin-left: 5px;
    width: 20px;
}
.cyberware-options-container {
    background: red;
    border-bottom: 5px solid red;
}

.option-header {
    align-items: center;
    color: white;
    display: flex;
    height: 50px;
    justify-content: center;
}


/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: red;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #a10000;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ff4242;
  }

.options-container {
    max-height: 300px;
    overflow-y: auto;
    padding-left: 15px;
    scrollbar-gutter: stable;
}

.cyberware-option {
    background: white;
    box-sizing: border-box;
    display: block;
    min-height: 50px;
    padding-top: 15px;
}

.cyberware-option:nth-of-type(even) {
    background: pink;
}


.option-details-container {
    cursor: pointer;
    overflow: hidden;
    margin-top: 15px;
    max-height: 0;
    text-align: left;
}

/* .option-details-header {
    border-bottom: 3px solid red;
    width: 100%;
} */

.button {
    box-sizing: border-box;
    height: 30px;
    text-transform: capitalize;
    width: 100%;
}


/* .red-vertical-line {
    aspect-ratio: 1/27;
    background-color: red;
    content: "";
    min-height: 50px;
    width: 3px;
} */


.option-name {
    font-size: 1rem;
}

.down-arrow {
    height: 15px;
    padding-inline: 10px;
    width: 15px;
}

.option {
    display: block;
    border-bottom: 1px solid black;
    font-size: .8rem;
    padding: 5px;
}

input[type="checkbox"], input[type="radio"] {
    opacity: 0;
    position: absolute; 
    top: 0;
}
/* .cyberware-option:has(input[type="checkbox"]:checked), */
#user-caracters label:has([type="radio"]:checked) {
    background-color: green;
}

input[type="checkbox"]:checked ~ .option-details-container{
    animation: show-box 1s;
    max-height: 200px;
    transition: height; 
}

input[type="checkbox"]:not(:checked) ~ .option-details-container{
    animation: hide-box 1s;
}

@keyframes show-box {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 200px;
    }
}

@keyframes hide-box {
    0% {
        max-height: 200px;
    }
    100% {
        max-height: 0;
    }
}

/* input[type="checkbox"]:not(:checked) ~ .option-details-container{
    animation: hide-box 1.5s;
    height: initial;
    background: green;
    transition: height;
} */


.cyberware-base-option {
    background: rgb(0, 0, 0) !important;
    color: white !important;
}

.cyberware-base-option:has(input[type="checkbox"]:checked) {
    background: rgb(0, 255, 213) !important;
    
}

.log-in-container {
    background: red;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.log-in-form {
    background: white;
    border: 1px solid black;
    box-sizing: border-box;
    height: 90vh;
    margin: 20px;
    padding: 20px;
    width: 90vw;
    

    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.log-in-header {
    color: red;
    margin-block: 20px;
}


/* settings container */

.settings-container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/settings-background.png);
    background-size: cover;
    color: white;
    padding: 20px;
}

.user-settings-container label, .user-settings-container input {
    display: block;
    padding-block: 5px;
}

.user-settings-container input {
    padding: 5px;
    width: 95%;
}

.settings-update-button {
    box-sizing: unset;
    margin: 10px 0;
    width: 295px;
}


.hide {
    display: none;
}

